@media (max-width: 768px) {

    // * Nagigation * //
    .header {

        .nav-links {
            display: none;
        }
        
        .nav-links.open {
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            position: fixed;
            top: 0px;
            bottom: 0px;
            right: 0px;
            padding: 50px 10px;
            width: min(75vw, 400px);
            height: 100vh;
            outline: 0px;
            background-color: var(--togglebg);
            box-shadow: -10px 0px 30px -15px var(--navy-shadow);
            
            transform: translateX(0vw);
            visibility: visible;
            transition: var(--transition);

            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                align-items: center;

                .link {
                    display: flex;
                    flex-direction: column;
                    font-size: 22px;
                    margin: 50px 0;

                    span {
                        font-size: 18px;
                    }
                }
            }
        }

        .toggle-button {
            display: block;
            z-index: 1000;
        }
    }

    // * Introduction * //
    .introduction {
        display: flex;
        justify-content: center;
        text-align: center;
        .introduction-name, .introduction-title {
            font-size: 48px;
        }

        .introduction-text {
            font-size: 16px;
        }
    }

    // * About Me * //
    .aboutme {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .aboutme-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .aboutme-wrapper {
            display: flex;
            flex-direction: column;
        }

        .aboutme-title {
            font-size: 20px !important;

            span {
                font-size: 16px !important;
            }
        }

        .aboutme-text {
            font-size: 14px;
        }

        .aboutme-title::after {
            content: none !important;
        }
    }

    // * Projects * //
    @media (max-width: 768px) {
        .projects {
            display: none;
        }

        .project-mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin-top: 250px;

            padding: 0 50px;

            .projects-title {
                color: var(--maincolor);
                display: flex;
                justify-content: center;
                margin-bottom: 30px;

                font-size: 20px;
                align-items: center;

                span {
                    color: var(--green);
                    margin-right: 10px;
                    font-size: 16px;
                }
            }

            .project-mobile__image {
                position: relative;
                width: 100%;
                max-width: 580px;

                z-index: 1;
                overflow: hidden;

                margin-bottom: 30px;
                img {
                    width: 100%;
                    height: auto;
                }

                .project-mobile__content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 98%;

                    z-index: 2000;
                    background-color: var(--navy-shadow);

                    color: #fff;
                    box-sizing: border-box;
                    padding: 20px;

                    

                    .project-mobile__wrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        padding: 20px;
                        height: 85%;
                        overflow-y: auto;

                        .suptitle {
                            font-size: 14px;
                            color: var(--green);
                        }

                        .name {
                            margin-top: 10px;
                            font-size: 20px;
                            margin-bottom: 30px;
                        }

                        .description {
                            color: var(--gray);
                            font-size: 15px;
                        }

                        .tags {
                            margin-top: 10px;
                            span {
                                font-size: 12px;
                                margin-right: 10px;
                            }
                        }

                        .links {
                            margin-top: 10px;
                            a {
                                color: var(--maincolor);
                                margin-right: 10px;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
      }
}

@media (min-width: 768px) {
    .project-mobile {
        display: none;
    }
}

// * Socials * //
@media (max-width: 768px) {
    .socials {
        display: none;
    }

    .socials-mobile {
        position: relative;
        top: -100px;

        padding-bottom: 30px;
        .container {
            width: 100%;
            max-width: 500px;

            margin: 0 auto;
        }

        .socials-mobile-links {
            display: flex;
            justify-content: center;

            a {
                margin: 0 15px;
                color: var(--gray);
                font-size: 22px;
            }
        }
    }
}

// SAY HELLO //
@media (max-width: 768px) {
    .sayHello {
        padding: 0 15px;
        .sayHello-getInTouch {
            font-size: 30px;
        }
    }
}

@media (min-width: 768px) {
    .socials-mobile {
        display: none;
    }
}

// * Notation * //
@media (max-width: 768px) {
    .notation {
        position: relative;
        top: 20px;
    }
}

// Navigation for 576px //
@media (max-width: 576px) {
    // INTRODUCTION //
    .introduction {
        padding: 0 30px;
        text-align: center;

        .introduction-hi {
            font-size: 12px;
        }
        .introduction-name {
            font-size: 25px;
        }
        .introduction-title {
            font-size: 25px;
        }

        .introduction-text {
            font-size: 12px;
        }
    }

    // ABOUT ME //
    .aboutme {
        padding: 0 30px;
    }

    // PROJECTS //
    .project-mobile {
        padding: 0 5px;

        .project-mobile__wrapper {
            
        }
    }
}