.sayHello {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 100px;

    text-align: center;

    .container {
        width: 100%;
        max-width: 600px;

        margin: 0 auto;
    }

    .sayHello-title {
        color: var(--green);
        font-size: 16px;
        margin: 10px 0 20px;
    }

    .sayHello-getInTouch {
        font-size: 60px;
        color: var(--maincolor);
        font-weight: 800;
        margin-bottom: 10px;
    }

    .sayHello-text {
        font-size: 16px;
        color: var(--gray);
        margin-bottom: 50px;
    }

    .resume {
        font-size: 14px;
        padding: 20px 28px;
        font-weight: 800;

        a {
            color: var(--green);
        }
    }
}