.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 100px;

    .aboutme-wrapper {
        display: flex;
        justify-content: space-between;

        width: 100%;
        max-width: 900px;
        .aboutme-title {
            font-size: 32px;
            color: var(--maincolor);
            position: relative;

            span {
                font-size: 26px;
                color: var(--green);
            }
        }

        .aboutme-title::after {
            content: '';
            position: absolute;
            top: 28px; 
            left: 200px; 
            width: 290px;
            height: 0.3px;
            background-color: var(--gray);
        }

        .aboutme-text {
            color: var(--gray);
            width: 100%;
            max-width: 510px;

            span {
                color: var(--green);
            }
        }

        .aboutme-picture {
            width: 300px;
            height: 300px;
            border-radius: 10px;   
            
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative; 
            top: 70px;
        }
        
        .styled-image {
            width: 100%;
            height: auto; 
            border-radius: 10px; /* Matches the container */
            filter: grayscale(100%); /* Apply grayscale by default */
            transition: filter 0.3s ease; /* Smooth transition */
        }
        
        .aboutme-picture:hover .styled-image {
            filter: grayscale(0%); /* Remove grayscale on hover */
        }
        
        
    }
}