@media screen and (max-width: 995px) {
    .navbar {

        .navbar-burger,
        .navbar-burger::before,
        .navbar-burger::after {
            position: absolute;
            display: block;
            right: 9px;
        }

        .showMenu {
            display: flex;
            flex-direction: column !important;
            position: absolute;
            top: 60px;
            right: 0;

            text-align: end;

            background: var(--background-color);
            width: 100%;
            height: 100vh;
            opacity: 95%;

            transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;


            .nav-link {
                text-align: center;
                line-height: 2;
                margin-top: 40px;
            }
        }

        .nav-link {
            display: none !important;
        }

    }
}