@import url(./base/_base.scss);
@import url(./variables/_variables.scss);
@import url(./navigation/_navigation.scss);
@import url(./introduction/_introduction.scss);
@import url(./socials/_socials.scss);
@import url(./aboutme/_about.scss);
@import url(./projects/_projects.scss);
@import url(./sayHello/_sayHello.scss);
@import url(./projectMobile/_projectMobile.scss);
@media (max-width: 768px) {
  .header .nav-links {
    display: none;
  }
  .header .nav-links.open {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding: 50px 10px;
    width: min(75vw, 400px);
    height: 100vh;
    outline: 0px;
    background-color: var(--togglebg);
    box-shadow: -10px 0px 30px -15px var(--navy-shadow);
    transform: translateX(0vw);
    visibility: visible;
    transition: var(--transition);
  }
  .header .nav-links.open ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .header .nav-links.open ul .link {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin: 50px 0;
  }
  .header .nav-links.open ul .link span {
    font-size: 18px;
  }
  .header .toggle-button {
    display: block;
    z-index: 1000;
  }
  .introduction {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .introduction .introduction-name, .introduction .introduction-title {
    font-size: 48px;
  }
  .introduction .introduction-text {
    font-size: 16px;
  }
  .aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .aboutme .aboutme-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aboutme .aboutme-wrapper {
    display: flex;
    flex-direction: column;
  }
  .aboutme .aboutme-title {
    font-size: 20px !important;
  }
  .aboutme .aboutme-title span {
    font-size: 16px !important;
  }
  .aboutme .aboutme-text {
    font-size: 14px;
  }
  .aboutme .aboutme-title::after {
    content: none !important;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .projects {
    display: none;
  }
  .project-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 250px;
    padding: 0 50px;
  }
  .project-mobile .projects-title {
    color: var(--maincolor);
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 20px;
    align-items: center;
  }
  .project-mobile .projects-title span {
    color: var(--green);
    margin-right: 10px;
    font-size: 16px;
  }
  .project-mobile .project-mobile__image {
    position: relative;
    width: 100%;
    max-width: 580px;
    margin-bottom: 30px;
    z-index: 1;
  }
  .project-mobile .project-mobile__image img {
    width: 100%;
    height: auto;
  }
  .project-mobile .project-mobile__image .project-mobile__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    z-index: 2000;
    background-color: var(--navy-shadow);
    color: #fff;
  }
  .project-mobile .project-mobile__image .project-mobile__content .project-mobile__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 50px 40px;
  }
  .project-mobile .project-mobile__image .project-mobile__content .project-mobile__wrapper .suptitle {
    font-size: 14px;
    color: var(--green);
  }
  .project-mobile .project-mobile__image .project-mobile__content .project-mobile__wrapper .name {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .project-mobile .project-mobile__image .project-mobile__content .project-mobile__wrapper .description {
    color: var(--gray);
    font-size: 15px;
  }
  .project-mobile .project-mobile__image .project-mobile__content .project-mobile__wrapper .tags {
    margin-top: 10px;
  }
  .project-mobile .project-mobile__image .project-mobile__content .project-mobile__wrapper .tags span {
    font-size: 12px;
    margin-right: 10px;
  }
  .project-mobile .project-mobile__image .project-mobile__content .project-mobile__wrapper .links {
    margin-top: 10px;
  }
  .project-mobile .project-mobile__image .project-mobile__content .project-mobile__wrapper .links a {
    color: var(--maincolor);
    margin-right: 10px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .project-mobile {
    display: none;
  }
}
@media (max-width: 768px) {
  .socials {
    display: none;
  }
  .socials-mobile {
    position: relative;
    top: -100px;
    padding-bottom: 30px;
  }
  .socials-mobile .container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  .socials-mobile .socials-mobile-links {
    display: flex;
    justify-content: center;
  }
  .socials-mobile .socials-mobile-links a {
    margin: 0 15px;
    color: var(--gray);
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  .socials-mobile {
    display: none;
  }
}
@media (max-width: 768px) {
  .notation {
    position: relative;
    top: 20px;
  }
}/*# sourceMappingURL=styles.css.map */