.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 100px;

    .container {
        width: 100%;
        max-width: 1000px;
    }

    .introduction-hi {
        font-size: 16px;
        color: var(--green);
    }

    .introduction-name {
        font-size: 80px;
        color: var(--maincolor);
        font-weight: 700;
    }

    .introduction-title {
        font-size: 70px;
        color: var(--gray);
        font-weight: 600;
    }

    .introduction-text {
        padding-top: 20px;
        font-size: 20px;
        color: var(--gray);
    }
}