.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bgcolor);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 0;

    z-index: 1000;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        max-width: 2000px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex !important;
            align-items: center !important;
            text-align: center !important;
            gap: 20px;
            padding: 0;
            margin: 0;

            li {
                cursor: pointer;
                font-size: 16px;
                a {
                    color: var(--maincolor);
                    transition: color 0.3s ease;

                    span {
                        font-size: 14px;
                        color: var(--green);
                    }

                    &:hover {
                        color: var(--green);
                    }
                }
            }
        }
    }
}

.resume {
    border: 2px solid var(--green);
    background-color: inherit;
    border-radius: 0.3rem;
    padding: 13px 20px;
    cursor: pointer;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0;

    a {
        color: var(--green);
    }

    &:hover {
        box-shadow: 0.3rem 0.3rem 0 0 var(--green);
        transform: translate(-5px, -5px);
    }
}

.toggle-button {
    background-color: inherit;
    border: none;

    font-size: 30px;
    color: var(--maincolor);
    display: none;
}