:root {
    --font: "Poppins", system-ui;
    --bgcolor: #0a182f;
    --maincolor: #ccd6f5;
    --gray: #8892b0;
    --green: #5ef1d0;
    --projectbox: #112240;
    --navy-shadow: rgba(2, 12, 27, 0.8);

    --togglebg: #112240;

    $breakpoint-mobile: 576px;
    $breakpoint-tablet: 768px;
    $breakpoint-desktop: 1024px;
    $breakpoint-large-desktop: 1200px;

    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}